<!-- =====================================
     LINHA PRINCIPAL
====================================== -->

<section class="dashboard-grid">


    <!-- ESQUERDA -->

    <div class="left-column">


        <div class="dashboard-card">


            <div class="card-header">


                <h4>
                    Resumo de Vendas
                </h4>


                <select class="form-select">


                    <option>
                        Últimos 7 dias
                    </option>


                </select>


            </div>



            <canvas id="salesChart" height="120"></canvas>



            <div class="sales-footer">


                <div>

                    <small>
                        TOTAL DE VENDAS
                    </small>


                    <h4>
                        67.250,00 MT
                    </h4>


                </div>



                <div>

                    <small>
                        TICKET MÉDIO
                    </small>


                    <h4>
                        1.245,00 MT
                    </h4>


                </div>



                <div>

                    <small>
                        Nº DE VENDAS
                    </small>


                    <h4>
                        54
                    </h4>


                </div>


            </div>


        </div>


    </div>




    <!-- DIREITA -->


    <div class="right-column">


        <div class="dashboard-card">


            <div class="card-header">


                <h4>
                    Alertas de Produtos com Baixo Stock
                </h4>


            </div>



            <div id="baixo-stock-list"></div>



        </div>


    </div>



</section>
