<!-- HISTÓRICO DE VENDAS -->

<div id="historico-panel"
     class="usuarios-modal"
     style="display:none;">





    <div class="dashboard-card usuarios-box">






        <div class="card-header">





            <h4>
                Histórico de Vendas
            </h4>







            <button
                class="btn btn-danger"
                onclick="fecharHistoricoVendas()">






                <i class="bi bi-x-lg"></i>







            </button>







        </div>









        <table class="table">






            <thead>







                <tr>







                    <th>
                        ID
                    </th>







                    <th>
                        Total
                    </th>







                    <th>
                        Pago
                    </th>







                    <th>
                        Troco
                    </th>







                    <th>
                        Data
                    </th>







                    <th>
                    </th>







                </tr>







            </thead>









            <tbody id="lista-historico-vendas">







            </tbody>









        </table>









    </div>








</div>
